* {
    transition: .4s;
}

@media screen and (min-width: 1200px) {
    .container1200 {
        width: 1200px;
        margin: 0 auto;
    }

    .nav {
        background-color: #373c3f;
        height: 100px;
        display: flex;
    }

    .nav-320 {
        display: none;
    }

    .nav-items {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    .nav-item {
        cursor: pointer;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin: 30px;
    }

    .nav-item:hover {
        color: #acd9ad;
    }

    .nav-item-logo {
        cursor: pointer;
        margin-top: .5rem;
        margin-left: 21rem;
        background-image: url("../img/navigation-logo-1200.png");
        width: 104px;
        height: 83px;
    }

    .header {
        background-image: url("../img/header-fon-1200.png");
        height: 649px;
        margin-bottom: 6px;
    }

    .header-title {
        padding: 35px 0 50px 35px;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 62px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
    }

    .header-sub-title {
        padding: 0 0 0 45px;
        font-family: Lato, sans-serif;
        color: #a6d6e0;
        font-size: 38px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
    }

    .header-options {
        display: flex;
        justify-content: space-between;
    }

    .header-first-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/pizza-dev-fon-1200.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }

    .header-second-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/ua-ux-fon-1200.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;;

    }

    .header-third-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/desserts-fon-1200.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }

    .under-header {

    }

    .section-under-header-options {
        padding-left: 30px;
        margin-top: 77px;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 40px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }

    .sub-section-under-header-options {
        padding-left: 30px;
        font-family: Lato, sans-serif;
        color: #cbcdce;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 20px;
    }

    .menus {
        display: flex;
        justify-content: space-between;
    }

    .second-menu {
        margin-bottom: 6px;
    }

    .left-side-menu-title {
        width: 574px;
        height: 75px;
        color: #acd9ad;
        background-color: #3f4043;
        font-size: 40px;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        font-family: Lato, sans-serif;
        display: flex;
        /*padding-left: 20px;*/
    }

    .right-side-menu-title {
        /*width: 611px;*/
        height: 75px;
        background-color: #acd9ad;
        color: white;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        font-family: Lato, sans-serif;
        display: flex;
        padding-left: 20px;
        font-size: 40px;
    }

    .left-side-menu-sub-title {
        display: flex;
        justify-content: space-between;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin-top: 38px;
    }

    .right-side-menu-sub-title {
        margin-left: 22px;
        display: flex;
        justify-content: space-between;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin-top: 42px;
    }

    .dish-info-line {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .dish-price {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 27px;
        font-weight: 700;
        text-align: right;
    }

    .dish-name {
        padding-left: 15px;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 27px;
        font-weight: 400;
        text-align: left;
    }

    .dish-about {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 17px;
        font-weight: 400;
        text-align: justify;
        padding-top: 16px;
    }

    .footer {
        margin-top: 130px;
        height: 97px;
        background-color: #acd9ad;
        display: flex;
    }

    .footer-logo {
        cursor: pointer;
        margin-top: .5rem;
        margin-left: 1rem;
        background-image: url("../img/navigation-logo-1200.png");
        width: 104px;
        height: 83px;
    }

    .footer-text {
        display: flex;
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 18px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 26px; /* Приближение из-за подстановки шрифтов */
        text-align: center;
        align-items: center;
        margin-left: 25rem;
    }
}

@media screen and (max-width: 981px) {

    .nav-320 {
        display: none;
    }

    .nav {
        background-color: #373c3f;
        height: 100px;
        display: flex;
    }

    .nav-items {
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    .nav-item {
        cursor: pointer;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        margin: 10px;
    }

    .nav-item:hover {
        color: #acd9ad;
    }

    .nav-item-logo {
        cursor: pointer;
        margin-top: .5rem;
        margin-left: 21rem;
        background-image: url("../img/navigation-logo-1200.png");
        width: 104px;
        height: 83px;
    }

    .header {
        background-image: url("../img/header-fon-980.png");
        height: 649px;
        margin-bottom: 6px;
    }

    .header-title {
        padding: 35px 0 50px 35px;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 62px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
    }

    .header-sub-title {
        padding: 0 0 0 45px;
        font-family: Lato, sans-serif;
        color: #a6d6e0;
        font-size: 38px;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
    }

    .header-options {
        display: flex;
        justify-content: center;
    }

    .header-first-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/pizza-dev-fon-980.png");
        background-repeat: no-repeat;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }

    .header-second-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/ua-ux-fon-980.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        background-repeat: no-repeat;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;

    }

    .header-third-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/desserts-fon-980.png");
        background-repeat: no-repeat;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 43px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 400px;
        height: 400px;
    }

    .section-under-header-options {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 34px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }

    .sub-section-under-header-options {
        font-family: Lato, sans-serif;
        color: #cbcdce;
        font-size: 20px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .menus {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {
    .nav {
        display: none;
    }

    .nav-320 {
        background-color: rgb(63, 64, 67);
        height: 75px;
    }

    .title-nav-320 {
        font-family: Lato, sans-serif;
        display: flex;
        justify-content: start;
        color: white;
        font-size: 24px;
        align-items: center;
        padding-top: 30px;
        margin-left: 40px;
    }

    .header {
        background-image: url("../img/header-bg-for-640.png");
        height: 345px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 5px;
    }

    .header-title {
        padding: 50px;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 36px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 48px; /* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    .header-sub-title {
        padding-left: 20px;
        font-family: Lato, sans-serif;
        color: #a6d6e0;
        font-size: 24px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 64px;
    }

    .header-first-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/pizza-dev-fon-640.png");
        background-repeat: no-repeat;
        /*background-position: center;*/
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        width: 500px;
        height: 150px;
    }

    .header-second-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/ua-ux-fon-640.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        background-repeat: no-repeat;
        align-items: center;
        width: 500px;
        height: 150px;

    }

    .header-third-option {
        display: flex;
        justify-content: center;
        background-image: url("../img/desserts-fon-640.png");
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        align-items: center;
        background-repeat: no-repeat;
        width: 500px;
        height: 150px;
    }

    .under-header {
        margin: 18px;
    }

    .section-under-header-options {
        margin-top: 50px;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 37px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }

    .sub-section-under-header-options {
        font-family: Lato, sans-serif;
        color: #cbcdce;
        font-size: 20px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .left-side-menu-title {
        margin-top: 20px;
        margin-bottom: 35px;
        height: 60px;
        padding-top: 15px;
        color: #acd9ad;
        background-color: #3f4043;
        font-family: Lato, sans-serif;
        font-size: 40px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    .header-options {
        margin: -2px;
    }

    .left-side-menu-sub-title {
        align-items: center;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 30px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .dish-name {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 27px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .dish-price {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 27px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-align: right;
    }

    .dish-about {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 17.5px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: justify;
    }

    .menus {
        margin: 0 18px;
    }

    .footer {
        margin-top: 100px;
        background-color: #acd9ad;
        color: white;
    }

    .footer-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 21px;
        height: 97px;
    }

    .right-side-menu-title {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        padding-top: 17px;
        text-transform: uppercase;
        height: 65px;
        font-family: Lato, sans-serif;
        background-color: #acd9ad;
        color: white;
        font-size: 40px;
        font-weight: 400;

    }

    .right-side-menu-sub-title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        margin-bottom: 45px;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
    }

    .dish-info-line {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 320px) {
    .menus {
        margin: 12px;
        display: flex;
    }

    .first-menu, .second-menu {
        /*display: flex;*/
        /*justify-content: center;*/
    }

    .dish-info-line {
        margin-bottom: 8px;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: none;
    }

    .nav-320 {
        background-color: rgb(63, 64, 67);
        height: 40px;
    }

    .title-nav-320 {
        font-family: Montserrat, sans-serif;
        color: white;
        font-size: 15px;
        align-items: center;
        padding: 10px 0 0 20px;
    }

    .header {
        background-image: url("../img/header-fon-320.png");
        height: 173px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 3px;
    }

    .header-title {
        padding: 20px;
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 16px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 20px; /* Приближение из-за подстановки шрифтов */
        text-align: left;
    }

    .header-sub-title {
        padding-left: 20px;
        font-family: Lato, sans-serif;
        color: #a6d6e0;
        font-size: 14px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
    }

    .header-options {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .header-first-option, .header-second-option, .header-third-option {
        font-family: Lato, sans-serif;
        display: flex;
        /*justify-content: center;*/
        padding-left: 4rem;
        color: white;
        font-weight: 700;
        font-size: 25px;
        align-items: center;
        text-align: center;
        height: 75px;
    }

    .header-first-option {
        background-image: url("../img/pizza-dev-fon-320.png");
    }

    .header-second-option {
        background-image: url("../img/ua-ux-dev-fon-320.png");
    }

    .header-third-option {
        background-image: url("../img/desserts-fon-320.png");
    }

    .under-header {
        margin: 13px;
    }

    .section-under-header-options {
        margin-top: 10px;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 18px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;

    }

    .sub-section-under-header-options {
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #cbcdce;
        font-size: 10.03px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
        margin: 10px;
    }

    .left-side-menu-title {
        height: 40px;
        color: #acd9ad;
        background-color: #3f4043;
        font-size: 15px;
        margin-bottom: 21px;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        font-family: Lato, sans-serif;
        display: flex;
        justify-content: center;
    }

    .logo-sneg-1200, .logo-wine-1200, .logo-coffee-1200, .logo-sneg-1200, .logo-beer-1200 {
        display: none;
    }

    .left-side-menu-sub-title {
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 15px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .dish-name {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 11.5px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }

    .dish-price {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 13.55px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-align: right;
    }

    .dish-about {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 8.78px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: justify;
        margin-bottom: 10px;
    }

    .right-side-menu-title {
        margin-top: 19px;
        font-family: Lato, sans-serif;
        height: 40px;
        color: white;
        background-color: #acd9ad;
        text-transform: uppercase;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer {
        display: flex;
        height: 55px;
        background-color: #acd9ad;
    }

    .footer-text {
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 16px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 16px; /* Приближение из-за подстановки шрифтов */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side-menu-sub-title {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 15.05px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }
}